@import '../../colors.scss';


.mainPage {
  height: 100%;
  // background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;

  .test > * {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  p {
    width: 55%;
    color: $shadow-button-gray;
  }

  // > * {
  //   // height: 100%;
  //   width: 100%;
  //   border: 2px solid red;
  // }
}

img[alt="Logo"] {
  width: 80%;
  // position: relative;
  // display: block;
  // margin: 0 auto;
  // top: -30px;
}