@import 'antd/dist/antd.css';
@import '../../colors.scss';

//Main Container Style
.container {
  // background-color: rgba(red, 0.4);
  background-color: $tag-background-white;
  box-shadow: 0px 2px 2px 2px $shadow-container-gray;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 10%;
  // display: flex;
  // flex-direction: column;

  .autoComplete {
    width: 80%;
    margin-bottom: 20px;

  }

  //Tag Category Section
  .category {
    overflow-y: auto;
    height: 70%;
    // background-color: steelblue;


    .tag {
      line-height: 22px;
      margin-left: 20px;
      margin-top: 20px;

      h5 {
        margin-bottom: 0;
        font-size: 15px;
      }

      &__container {
        border-radius: 6px;
        margin-right: 4px;
        padding: 0 3px;
        height: auto;
        width: auto;
        line-height: 0;
        padding: 2px;
      }

      &__dairy {
        background-color: $tag-background-white;
        color: $tag-font-black;
        border: 2px solid $tag-font-black;

        .ant-tag-close-icon {
          color: rgba($tag-font-black, 0.6);
        }
      }

      &__meat {
        background-color: $tag-background-red;
        color: $tag-font-red;
        border: 2px solid $tag-font-red;

        .ant-tag-close-icon {
          color: rgba($tag-font-red, 0.6);

        }
      }

      &__vegetables {
        background-color: $tag-background-green;
        color: $tag-font-green;
        border: 2px solid $tag-font-green;

        .ant-tag-close-icon {
          color: rgba($tag-font-green, 0.6);
        }
      }

      &__fruits {
        background-color: $tag-background-purple;
        color: $tag-font-purple;
        border: 2px solid $tag-font-purple;

        .ant-tag-close-icon {
          color: rgba($tag-font-purple, 0.6);
        }
      }

      &__grain {
        background-color: $tag-background-orange;
        color: $tag-font-orange;
        border: 2px solid $tag-font-orange;

        .ant-tag-close-icon {
          color: rgba($tag-font-orange, 0.6);
        }
      }

      &__additives {
        background-color: $tag-background-yellow;
        color: $tag-font-yellow;
        border: 2px solid $tag-font-yellow;

        .ant-tag-close-icon {
          color: rgba($tag-font-yellow, 0.6);
        }
      }
    }

    .ant-tag-close-icon,
    .tag__container {
      font-size: 14px;
    }

    &::-webkit-scrollbar-track {
      border: 4px solid $tag-background-white;
    }
  }

  //Button Section Style
  .button-container {
    // background-color: red;
    height: 35px;
    margin: 5% auto;
    // position: relative;

    button {
      background-image: linear-gradient(to right, #FEAC33, #FEAC33);
      box-shadow: 1px 2px 4px 0px $shadow-button-gray;
      color: $tag-background-white;
      text-transform: uppercase;
      font-family: mouser;
      font-size: 18px;
      border-radius: 45px;
      border: none;
      width: 170px;
      height: 45px;
      position: relative;
      left: 88%;
      &:hover {
        cursor: pointer;
      }
    }
  }
}