@import '../../colors.scss';

.recipes {
  box-shadow: 0px 2px 2px 2px $shadow-container-gray;
  background-color: $tag-background-white;
  border-radius: 20px;
  margin-top: 4%;
  height: 94%;

  img[alt="Mini Logo"] {
    width: 150px;
    position: relative;
    display: block;
    margin: 0 auto;
    top: -30px;
  }

  &__header {
    // background-color: red;
    margin-left: 8%;

    h2 {
      font-family: mouser;
      text-transform: uppercase;
      font-size: 25px;
    }
  }

  &__section {
    margin-left: 12%;
    overflow-y: auto;
    height: 60%;
    width: 75%;

    h4 {
      color: $base-color-orange !important;
      font-family: mouser;
      font-size: 18px;
    }

    .result {
      display: flex;
      justify-content: space-between;

      &__percent {
        color: $base-color-green;
        width: auto;
        text-align: right;
        margin-right: 10%;
      }

      :not(h4) {
        color: $tag-font-black;
        font-family: fairPlay;
      }
    }
  }

  ::-webkit-scrollbar-track {
    border: 4px solid $tag-background-white;
  }
}


// .recipes__container {
//   background-color: $base-color-gray;
//   // box-shadow: 0px 2px 2px 2px $shadow-container-gray;
//   width: 100%;
//   height: 95%;
//   align-self: flex-end;
//   flex: 10px 3 0;
// }