@import './colors.scss';

* {
  margin: 0;
  padding: 0;
  font-family: playFair;
}

.App {
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  min-width: 930px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;



  &.background__left {
    background-image: url(./img/view2.png);
    background-size: 40% 95%;
  }

  &.background__right {
    background-image: url(./img/view1.png);
    background-position: right;
    background-size: 48% 100%;
  }


  //img2
  // background-image: url(./img/view2.png);
  // background-size: 40% 95%;


  .main {
    // background-color: rgba(blue, 0.4);
    margin: 20px auto;
    width: 1400px;
    height: 90vh;
    min-height: 450px;
    display: flex;
    gap: 35px;
  
  &__products {
      // background-color: rgba(green, 0.4);
      flex-basis: 0;
      flex-grow: 1;
      order: 1;
    }

    &__recipes,
    &__header {
      // background-color: rgba(red, 0.4);
      flex-basis: 0;
      flex-grow: 2;
      order: 2;
    }
  }
}



.frame {
  border: 4px dashed black;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  width: 10px;
  background: gray;
}