//base colors
$base-color-red: #ea2336;
$base-color-orange: #ffac0e;
$base-color-white: #fceedd;
$base-color-green: #c4af00;
$base-color-gray: #FAF9F6;

//shadow colors
$shadow-button-gray: gray;
$shadow-container-gray: #E3E3E3;

//tag colors
$tag-background-purple: #f6e6ff;
$tag-font-purple: #a200ff;
$tag-background-red: #F6D5D8;
$tag-font-red: #E9273A;
$tag-background-green: #DFFC97;
$tag-font-green: #569534;
$tag-background-orange: #F7E081;
$tag-font-orange: #DB461D;
$tag-background-yellow: #F6FB72;
$tag-font-yellow: #B19A26;
$tag-background-white: #FFFFFF;
$tag-font-black: #000000;