@font-face {
  font-family: mouser;
  src: url(./fonts/mouser/Mouser.ttf);
}

@font-face {
  font-family: playFair;
  src: url(./fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; */
  font-family: playFair;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  font-family: playFair;
}